TELEGRAM_BOT_TOKEN="5xxxxxxxx9:Axxxxxxxxxxxxxxxxxxxxxxxxxw"
DB_HOSTNAME="localhost"
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_AUTH_PLUGIN="mysql_native_password"
NGROK_AUTHTOKEN="2xxxxxxxxxxxxxxxxxxxxxxxxxg"